						<div class="l-submain">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Things to see and do</h2>
						<p style="text-align: center;">If I was you,  I’d try to think of the trip as a mini holiday or city break. It just happens that on one of the days you have to go to a wedding! If we were to get married at home, you have to drive or get a taxi to Manchester or Cheshire, then you might have to pay for a hotel to stay over or pay for a taxi home, you'd have to pay for a present, and you'd have to pay extortionate drinks prices all night. In fairness, weddings are a dear do.  But this way, you’re not having to pay for a hotel just for a wedding,  you’ve already got a hotel,  you’re on holiday, so that’s paid for! We’re not asking for presents so you’ve saved again! There’s a free bar in the evening so you’re not going to spend a penny that day, you’re not going to wake up in the morning wondering where all the cash went.  In fact all the money you were going to spend on that wedding in Cheshire has been saved and can now be knocked off the money you’ve spent on your little continental city break in Barcelona. Essentially I’ve just got you a very discounted holiday! You're Welcome! </p>
						<div class="wpb_single_image align_center animate_afb">
							<%= image_tag("barcelona1.jpg") %>
						</div>
						
						</div>
					</div>
				</div>
				
				<div class="l-submain color_alternate">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">The Sagrada Família</h2>
						<p style="text-align: center;">The Sagrada Família, Antoni Gaudí's unfinished masterpiece, is one of Barcelona's most popular tourist attractions. Construction on this church will continue for at least another decade, but it has already become Barcelona's most important landmark.</p>
						<div class="wpb_single_image align_center animate_afc">
							<%= image_tag("sagrada.jpg") %>
						</div>

					</div>
				</div>
				
				<div class="l-submain color_primary" id="parallax_section" style="background-image: url(img/slides/parallax3.png);">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">The beach</h2>
						<p style="text-align: center;">The city sits right on the sea, and the beaches are gorgeous with great little beach bars for evening cocktails.</p>
						<div class="g-hr type_invisible"></div>
						<div class="wpb_single_image align_center animate_afb">
							<%= image_tag("beach.jpg") %>
						</div>
						
					</div>
				</div>
				<script>jQuery(window).load(function(){ jQuery('#parallax_section').parallax('50%', '-1.4'); });</script>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Camp Nou</h2>
						<p style="text-align: center;">F.C Barcelona's home and one of the greatest studiums in the world. And as chance would have it, the  first leg of the champs league quarter finals are the 2 nights before the wedding, so we'll be in the city for a Barcelona champs league match :)</p>
						<div class="wpb_single_image align_center animate_afc">
							<%= image_tag("camp.jpg") %>
						</div>

					</div>
				</div>

				
				<div class="l-submain color_alternate">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Tapas bars and city shopping</h2>
						<p style="text-align: center;">Great bars and cafes with tapas, cervezas and wine and very cheap clothes shopping for the girls to get some retail therapy... While the boys check out the bars</p>
						<div class="wpb_single_image align_center animate_aft">
								<%= image_tag("tapas.jpg") %>
						</div>

					</div>
				</div>

				<div class="l-submain color_primary" >
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Park Güell</h2>
						<p style="text-align: center;">Park Güell is a garden complex with architectural elements situated on the hill of El Carmel in the Gràcia district of Barcelona, Catalonia, Spain. It was designed by the Catalan architect Antoni Gaudí and built in the years 1900 to 1914.</p>
						<div class="wpb_single_image align_center animate_afb">
							<%= image_tag("park.jpg") %>
						</div>

					</div>
				</div>

				<div class="l-submain ">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">City sights and architecture</h2>
						<p style="text-align: center;">The city is full of great buildings, streets, fountains, bars(did I mention bars?), it's a great city to visit and one to knock off the to do list.</p>
							<%= image_tag("gaudihouse.png") %>
						</div>

					</div>
				</div>