<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tom And Jens Wedding" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tom And Jens Wedding" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
	<link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700">
     <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
  <body class="l-body home">
<!-- CANVAS -->
<div class="l-canvas type_wide col_sidecont headerpos_fixed headertype_extended">
	<div class="l-canvas-h">
          <%= render 'layouts/navigation' %>
      <div class="l-main">
			<div class="l-main-h">
                  
   
            
                 <%= yield %>
				 
			</div>
		         </div>	 
				 
        <!-- /MAIN -->
   
   </div>      
</div>
<!-- /CANVAS -->
         
		  <%= render 'layouts/footer' %>
        
       
  </body>
</html>
